.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
table{
    background:rgb(211, 211, 211);
}
th{
    color: white;
    background: grey;
}
#formForList,#blockWithDate,#editBox,#editBtn{
    display: none;
}
#icons{
    display: flex;
    justify-content: center;
}
#icons>i{
    margin: 2px;
}