.Header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.col{
  padding: 0 4.7%;
  border: solid #434a57;
}